.div-placeholder-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    cursor: pointer;
    margin-top: 20px;
}

.placeholder-photo {
    width: 96px;
    height: 96px;
    display: block;
}

#form {
    border: none; 
    box-shadow: none; 
}

#button {
    background-color: transparent;
    display: flex;
    height: 96px;
    width: 96px;
}
