.container {
  background-color: #1c1f2e;
  color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 40px auto;
}

header {
  margin-bottom: 20px;
}

h1 {
  color: #61dafb;
}

button {
  background-color: #61dafb;
  color: #1c1f2e;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

button:hover {
  background-color: #f1f1f1;
  color: #1c1f2e;
}

.link {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.ink:hover {
  background-color: #0056b3;
}

section {
  margin-top: 20px;
}

article {
  background-color: #2a2e3b;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.checkboxContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  line-height: 20px;
}

.checkboxWrapper {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #2a2e3b;
  border: 2px solid #61dafb;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #3a3f4b;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #61dafb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
strong {
  color: white;
}
